:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --green: #61d836;

  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);

  --dark-grayish-blue: hsl(228, 6%, 33%);
  --button-firefox: #f7f7f7;
  --button-shadow: hsla(231, 69%, 60%, 0.2);

  --grayish-blue-a: hsla(229, 8%, 60%, 0.4);
  --grayish-blue-b: hsla(229, 8%, 60%, 0.8);
  --very-dark-blue-a: hsla(229, 31%, 21%, 0.96);
  --very-dark-blue-b: #242946;
}
