:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);

  --grayish-blue-a: hsla(229, 8%, 60%, 0.4);
  --grayish-blue-b: hsla(229, 8%, 60%, 0.8);
  --very-dark-blue-a: hsla(229, 31%, 21%, 0.96);
  --very-dark-blue-b: #242946;
}
