.dropdown {
  border-bottom: 1px solid var(--grayish-blue-a);
  margin-bottom: 10px;

  &.active {
    .drop-question {
      p {
        color: var(--soft-red);
      }
      svg {
        transform: rotateZ(180deg);

        path {
          stroke: var(--soft-red);
        }
      }
    }

    .drop-answer {
      max-height: 400px;
    }
  }

  .drop-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 12px 0;
    cursor: pointer;

    &:hover {
      p {
        color: var(--soft-red);
      }
    }

    p {
      font-size: 15px;
      line-height: 20px;
      color: var(--very-dark-blue);
      text-align: left;
      max-width: calc(100% - 28px);
      transition: color 0.2s ease-in-out;
    }

    svg {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 18px;

      transform: rotateZ(0deg);
      transition: transform 0.2s ease-in-out;

      path {
        transition: stroke 0.2s ease-in-out;
      }
    }
  }

  .drop-answer {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    p {
      margin-top: 14px;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      color: var(--grayish-blue);
      margin-bottom: 28px;
    }
  }
}
