.extension-container {
  text-align: center;
  padding: 0 32px;
  padding-top: 100px;
  max-width: 375px;
  margin: auto;
}

.extension-details {
  h3 {
    font-size: 1.55rem;
    font-weight: 500;
    color: var(--very-dark-blue);
  }
  p {
    margin-top: 15px;
    line-height: 26px;
    color: var(--grayish-blue);
  }
}

.browsers-container {
  padding-top: 40px;
}

.dots {
  width: 100%;
}

.button-container {
  padding: 0 23px;
  margin-top: 22px;
  button {
    width: 100%;
    padding: 15px 0;
    font-family: inherit;
    font-weight: 500;
    border: none;
    background: var(--soft-blue);
    color: #fff;
    border-radius: 3px;
    border: 2px solid var(--soft-blue);
    cursor: pointer;
    transition: all 0.15s ease-in;
  }
  button:hover {
    background: #fff;
    color: var(--soft-blue);
  }
}

.browser {
  box-shadow: 0 6px 7px 3px rgba(0, 0, 0, 0.068);
  margin: 30px 0;
  border-radius: 11px;
  padding-top: 40px;
  padding-bottom: 23px;
}

.mini-info {
  margin-top: 27px;
  margin-bottom: 24px;
  h4 {
    color: var(--very-dark-blue);
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.14rem;
  }
  span {
    color: var(--grayish-blue);
    font-size: 0.9rem;
  }
}


@media screen and (min-width: 800px) {
  .browsers-container {
    display: flex;
    height: 500px;
    align-items: center;
    margin-bottom: 60px;
  }
  .extension-container {
    max-width: 800px;
  }
  .browser:not(:first-child) {
    margin-left: 15px;
  }
  .browser:not(:last-child) {
    margin-right: 15px;
  }
  .browser:first-child {
    align-self: flex-start;
  }
  .browser:last-child {
    align-self: flex-end;
  }
  .extension-details {
    max-width: 450px;
    margin: auto;
  }
}

@media screen and (min-width: 1020px) {
  .extension-container {
    max-width: 1000px;
  }
  .extension-details {
    max-width: 500px;
    margin: auto;
  }
}