.features-container {
  padding-top: 30px;
}

.features-info {
  text-align: center;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 32px;
}

.features-title {
  color: var(--very-dark-blue);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.55rem;
}

.features-details {
  color: var(--grayish-blue);
  line-height: 25px;
  font-size: 1rem;
}

.some-info {
  margin-bottom: 40px;
}

.slider-selector {
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    height: 56px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    position: relative;
    transition: color 0.2s ease-in-out;
  }
  li:hover {
    color: var(--soft-red);
  }
}

.slider-selector li:first-child {
  border-top: 1px solid #ddd;
}

.slider-background {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding: 0 32px;
  position: relative;
  margin-top: 67px;
  margin-bottom: 30px;
}

.orange-underline {
  position: absolute;
  bottom: 0;
  width: 45%;
  height: 0px;
  background-color: var(--soft-red);
  transition: height 0.1s ease-in-out;
}

.show {
  height: 3.5px;
}

.features-container {
  .blue-square {
    position: absolute;
    height: 178px;
    width: 68%;
    top: 33px;
    left: 0;
    border-radius: 0 100px 100px 0;
  }
}

.card {
  max-width: 350px;
  z-index: 10;
  animation: toAppear 0.4s ease-in-out;
  img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
  }
}

.card-detailed {
  text-align: center;
  padding-top: 68px;
  h3 {
    font-size: 1.55rem;
    font-weight: 500;
    color: var(--very-dark-blue);
  }
  p {
    margin-top: 15px;
    color: var(--grayish-blue);
    line-height: 26px;
  }
}

.two-last {
  padding-top: 58px;
}

.btn-dsk {
  display: none;
}

@media screen and (min-width: 400px) {
  .features-container .blue-square {
    height: 230px;
    border-radius: 0 200px 200px 0;
  }
}

@media screen and (min-width: 800px) {
  .slider-selector {
    ul {
      display: flex;
      justify-content: center;
    }
    li {
      padding: 0 30px;
      cursor: pointer;
    }
    label {
      cursor: pointer;
    }
  }
  .slider-selector li:first-child {
    border-top: none;
  }
  .features-info {
    max-width: 750px;
  }
  .orange-underline {
    width: 100%;
  }
  .show {
    height: 3px;
  }
  .some-info {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    display: flex;
    max-width: 750px;
  }
  .image-card-container,
  .card-detailed {
    flex-basis: 50%;
  }
  .btn-dsk {
    display: block;
  }
  .features-container .blue-square {
    width: 45%;
    height: 270px;
  }
  .image-card-container img {
    max-height: 290px;
    position: relative;
    top: -20px;
  }
  .slider-background {
    height: 286px;
    margin-top: 80px;
  }
  .card-detailed {
    padding: 20px 60px;
    padding-right: 0;
    text-align: left;
    p {
      margin-bottom: 25px;
      margin-top: 20px;
    }
  }
  .btn-dsk {
    width: 100px;
    height: 43px;
    font-family: inherit;
    border: 2px solid transparent;
    font-weight: 500;

    background: var(--soft-blue);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;

    transition: background-color, color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover {
      background-color: #fff;
      color: var(--soft-blue);
      border-color: var(--soft-blue);
    }
  }
}

@media screen and (min-width: 1020px) {
  .card {
    max-width: 1000px;
  }
  .features-info {
    max-width: 800px;
  }
  .slider-selector {
    li {
      padding: 0 50px;
      cursor: pointer;
    }
  }
  .some-info {
    max-width: 500px;
  }
  .card-detailed {
    margin-left: 40px;
    min-width: 500px;
  }
  .features-container .blue-square {
    width: 40%;
  }
}

@keyframes toAppear {
  0% {
    opacity: 0;
    transform: scale(1.2);
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translate(0, 0);
  }
}
