.features-container {
  padding-top: 30px;
}

.features-info {
  text-align: center;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 32px;
}

.features-title {
  color: var(--very-dark-blue);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.55rem;
}

.features-details {
  color: var(--grayish-blue);
  line-height: 25px;
  font-size: 1rem;
}

.some-info {
  margin-bottom: 40px;
}

.slider-selector {
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    height: 56px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    position: relative;
  }
}

.slider-selector li:first-child {
  border-top: 1px solid #ddd;
}

.slider-background {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding: 0 32px;
  position: relative;
  margin-top: 67px;
  margin-bottom: 30px;
}

.orange-underline {
  position: absolute;
  bottom: 0;
  width: 45%;
  height: 0px;
  background-color: var(--soft-red);
  transition: height 0.1s ease-in-out;
}

.show {
  height: 3px;
}

.features-container {
  .blue-square {
    position: absolute;
    height: 178px;
    width: 68%;
    top: 33px;
    left: 0;
    border-radius: 0 100px 100px 0;
  }
}

.card {
  max-width: 350px;
  z-index: 10;
  animation: toAppear 0.4s ease-in-out;
  img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
  }
}

.card-detailed {
  text-align: center;
  padding-top: 68px;
  h3 {
    font-size: 1.55rem;
    font-weight: 500;
    color: var(--very-dark-blue);
  }
  p {
    margin-top: 15px;
    color: var(--grayish-blue);
    line-height: 26px;
  }
}

.two-last {
  padding-top: 58px;
}

@media screen and (min-width: 400px) {
  .blue-square {
    height: 248px;
  }
}

@keyframes toAppear {
  0% {
    opacity: 0;
    transform: scale(1.2);
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translate(0, 0);
  }
}
