.footer-container {
  background-color: var(--very-dark-blue-b);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo-container svg g path {
  fill: #fff;
}

.footer-menu {
  text-transform: uppercase;
  color: #fff;
  margin-top: 34px;
  h4 {
    font-weight: 100;
    margin: 28px 0;
    font-size: 00.9rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }
  h4:hover {
    color: var(--soft-red);
  }
}

.social-media-footer {
  display: flex;
  justify-content: center;
  img {
    margin: 0 18px;
    cursor: pointer;
  }
  img:hover {
    filter: brightness(0) saturate(100%) invert(42%) sepia(59%) saturate(681%)
      hue-rotate(313deg) brightness(103%) contrast(96%);
  }
}

@media screen and (min-width: 800px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    padding-right: 80px;
  }
  .footer-menu {
    display: flex;
    margin-top: 0;
    align-items: center;
    margin-left: 37px;
    h4 {
      margin: 0 24px;
    }
  }
  .details-footer {
    display: flex;
  }
  .social-media-footer img {
    width: 25px;
    object-fit: contain;
  }
}

@media screen and (min-width: 950px) {
  .footer-container {
    padding: 30px 150px;
    padding-right: 80px;
  }
}
